mlflow==3.1.4
attrs==25.4.0
cloudpickle==3.1.2
colorama==0.4.6
matplotlib==3.9.4
numpy==2.0.2
pandas==2.3.3
pydot==4.0.1
pytorch-lightning==2.6.0
rich==14.2.0
scipy==1.13.1
torch==2.8.0
torchvision==0.23.0